{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
PostList
{% endblock %}
{% block content %}

<section class="main-list" >


  <ul>
    {% for data in datas %}
    <li>
    <ul>
    <li id="cl">{{data.category}}</li>
    <li>{{data.name}}</li>
    <li>{{data.place}}</li>
    <li id="x">{{data.location_x}}</li>
    <li id="y">{{data.location_y}}</li>
    <li>{{data.date_of_event}}</li>
    <li> <a href="{{data.site}}">Сайт</a></li>
    <li> <a href="{{data.fb_group}}">Фейсбук</a></li>
    <li> <a href="{{data.vk_group}}">Контач</a></li>
    <li> <a href="{{data.tw_chanel}}">Твиттер</a></li>
    <li> <a href="{{data.inst_chanel}}">Инстач</a></li>
    </ul>
     </li>
    {% endfor %}
  </ul>


</section>


    <div id="map" style="width: 600px; height: 400px"></div>

    <script type="text/javascript">
        ymaps.ready(init);
        var myMap, 
            myPlacemark;

        function init(){ 
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 10
            }); 
var x = document.getElementById('x').innerHTML;
var y = document.getElementById('y').innerHTML;

console.log(x)
console.log(y)

var n = [55.75, 37.50]           
	
var coords = [
    n, [55.75, 37.71], [55.70, 37.70]
],
    myCollection = new ymaps.GeoObjectCollection({}, {
       preset: 'islands#redIcon', 
       draggable: true 
    });

for (var i = 0; i < coords.length; i++) {
    myCollection.add(new ymaps.Placemark(coords[i]));
}

myMap.geoObjects.add(myCollection);
        }





var snikt =  document.getElementById('cl');
if (snikt.innerHTML = 'gum') {
	snikt.style.color = "red";
}
if (snikt.innerHTML = 'teh') {
	snikt.style.color = "#000";
}


</script>>
{% endblock %}
