{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
{% if category %}| {{ category.name }} {% else %}|Главная{% endif %}
{% endblock %}
{% block content %}


<section class="main-tagline">
  <h1>"Зимняя орбита"</h1>
  <h2>Сделано гиками  - и для гиков!</h2>
  <h2>Доставка по всей России, Беларуси и Украины</h2>
  <h3>Доставка по Минску - бесплатно.</h3>
</section>

<section class="categories">
  <ul>

    <li>
      <a href="/blog/" style="border: solid 1px; padding: 20px;">Блог</a>
    </li>

  
    <!--li>
      <a href="/data/data/">ДАТА</a>
    </li-->

    {% for category in categories %}

    <li>
      <a href="category/{{category.slug}}">{{ category.name }}</a>
    </li>

    {% endfor %}

  </ul>

</section>

{% endblock %}

