{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  | {{ product.name }}
{% endblock %}
{% block content %}
<section class="main-block">
<section class="main-list-full">


<section class="parameters-window">
<img  src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="full-img" alt="fullImage">


<section class="product-information">
  <h1>{{ product.name }}</h1>
  <article class="price-full-info">

    <span>{{product.parameter}} {{product.parameter_value}}</span>
    <span>{{ product.price }}&nbsp;&nbsp;P</span> 
  </article>

  <article class="form-price-info">
    <form  action="{% url "cart:CartAdd" product.id %}" method="post">
    <span class="itemSum">{{ cart_product_form }}</span>
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину" class="buttons-all">

    </form>
  </article>

</section>

</section>



<!--section class="blog-chained-posts"> 
 {% for prod_chained in products %}
    <section class="chain-post">
     <article class="ramka">
       <a href="{{product.get_post_url }}">
       <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive" alt="product-image">
      </a>
     </article>

       <p><a href="{{ product.get_post_url}}">{{prod_chained.name }}</a></p>
    </section>
  {% endfor %}
</section-->
<div id="disqus_thread" style="width: 90%; margin-left: 5%;"></div>
<script id="dsq-count-scr" src="//http-winorbite-com.disqus.com/count.js" async></script>
<script>
(function() { 
var d = document, s = d.createElement('script');
s.src = '//http-winorbite-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
</section>
{% endblock %}
