{% extends "shop/base.html" %}
{% block title %}
| Контакты
{% endblock %}
{% block content %}
<section class="contacts">
<h1>Наши контакты:</h1>
<ul>
  <li>
    <img src="/media/social-links/mail.png" alt="e-mail addres">
    <span>winterorbite@gmail.com</span>
  </li>

  <li>
    <img src="/media/social-links/skype.png" alt="skype-contack">
    <span>bigegorich</span>
  </li>
  <li>
    <img src="/media/social-links/velcom.png" alt="velcome-phone-number">
    <span>+375 44 749 01 87</span></li>
  <li>
    <img src="/media/social-links/mts.png" alt="mts-phone-number">
    <span>+375 333 516 975</span>
  </li>
</ul>

</section>
{% endblock %}
