{% extends "shop/base.html" %}
{% block title %}
| Доставка и оплата
{% endblock %}
{% block content %}
<section class="pay-and-delivery">
<article>
	<h2>Доставка:</h2>
<ul>
<h3>По территории Беларуси:</h3>
<li>В течении 3 - 6 дней</li>
<li>Стоимость - 5 рублей</li> 
<li>По Минску - в течении дня. Доставка бесплатна</li>
</ul>
</article>



<article>
 <h2>Способы оплаты:</h2></p>
 <ul>
 <li>
 <h3>Наличный расчет</h3> 
 При доставке курьером вы оплачиваете заказ наличными после проверки комплектности и качества товаров.
 </li> 
 <li>
 <h3>Наложенный платеж </h3>
 Наложенный платеж — это возможность оплаты заказа в отделении почтовой связи в момент его получения.</li>
 </ul>	
</article>


</section>          
{% endblock %}
