{% extends "shop/base.html" %}

{% block title %}
| Доставка и оплата
{% endblock %}

{% block content %}
<section class="howWeWork">
<span class="nameOf">Как сделать покупку:</span>
<!--br>
<br>
<br>
<ul>
<li><img src="/media/cart.png" alt="cart"><p>Выбираете понравившиеся товары</p></li>
<li><img src="/media/order.png" alt="order"><p>Регистрируете заказ</p></li>
<li><img src="/media/courier.png" alt="courier"><p>Выбираете сппособ доставки и оплаты</p></li>
<li><img src="/media/payment.png" alt="pay"><p>PRofit!:)</p></li>
</ul>
</section>
<section class="order-form"-->
<h2>Доставка гиковских вещиц на территории России, Беларуси и Украины</h2>

<ul>
Доставка по территории Беларуси:
 <li>Происходит  в течении 3 - 6 дней</li>

<li>Стоимость доставки - 4 рубля</li> 

<li>Доставка по Минску, а так же при заказе от 50 рублей - бесплатно</li>


<li>Доставку мы осуществлем либо с помощью курьера, (в Беларуси), либо почтотой, если вы из России или Украины.</li>

</ul>
___________________________________________________________________________________________________________________
<p><h2>Способы оплаты:</h2></p>
<ul>

<li>
	
Наличный расчет
При доставке курьером или самовывозе Вы оплачиваете заказ наличными после проверки комплектности и качества товаров.
Если вы хотите рассчитаться банковской картой в пункте самовывоза, при оформлении заказа также выбирайте «Наличный расчет»	
</li>


<li>
Банковская карта
Оплата производится через интернет в режиме реального времени непосредственно после оформления заказа. Минимальная сумма платежа составляет 0,10 рублей. Максимальная — 1000 рублей.

К оплате принимаются карты Visa/MasterCard всех типов.
</li>

<li>
Работаем с Системой Расчёт (ЕРИП)Система Расчет (ЕРИП)
Оплата через систему «Расчет» (ЕРИП) в 27 банках Беларуси, свыше 11 000 пунктов: кассы, банкоматы, инфокиоски, устройства приема денег. Наиболее удобна при использовании Интернет-банка. Счёт можно оплатить в течение 2 дней.
</li>
<li>
РобоКасса/Яндекс.Касса.
</li>
<li>
iPaySMS-оплата через МТС, velcom, life:)
Оплата со счёта мобильного телефона МТС, velcom, life:). На базе платёжной системы iPay. Отправка SMS бесплатна. iPay возьмёт дополнительно 3-3,5% от суммы.
</li>
<li>
Наложенный платеж (+5% от суммы заказа)
Наложенный платеж — это возможность оплаты заказа в отделении почтовой связи в момент его получения. При этом работник отделения почтовой связи взыскивает с адресата при вручении ему почтового отправления сумму наложенного платежа, которая направляется почтовым денежным переводом в наш адрес. Плата за пересылку почтового денежного перевода составляет от 5% до 0,5% от суммы перевода, но не менее 1 руб. Комиссия за риски при использовании данной формы оплаты/доставки составит 5% от суммы заказа.
</li>
</ul>

</section>          


{% endblock %}
