{% extends "shop/base.html" %}

{% block title %}
| Доставка и оплата
{% endblock %}

{% block content %}


<section class="payment">
<p><h2>Доставка:</h2></p>
<ul>
<h3>По территории Беларуси:</h3>
 <li>В течении 3 - 6 дней</li>
 <li>Стоимость - 4 бел.рубля</li> 
 <li>По Минску, а так же при заказе от 50 бел.рублей - бесплатно</li>

<h3>На территории России и Украины</h3>
 <li>В течении 7 - 8 дней</li>
 <li>Стоимость - 150 рублей</li> 
 <li>При заказе от 2000 бел.рублей - бесплатно</li>
</ul>

</section>

<section class="payment">
<p><h2>Способы оплаты:</h2></p>

<ul>

   <li>	
    <h3>Наличный расчет</h3>
    При доставке курьером вы оплачиваете заказ наличными после проверки комплектности и качества товаров.
</li>


  <li>
   <h3>Наложенный платеж </h3>
    Наложенный платеж — это возможность оплаты заказа в отделении почтовой связи в момент его получения.
  </li>

</ul>
</section> 

<section class="howWeWork">

</section>          


{% endblock %}
