
{% extends "shop/base.html" %}

{% block title %}
| Доставка и оплата
{% endblock %}

{% block content %}

<section class="blog-post-full">

<p>Правила защиты информации о пользователях сайта <a href="http://winorbite.com/">  winorbite.com</a></p>

<p>
Настоящие Правила являются официальным документом интернет-магазина «Зимняя орбита», расположенного по адресу 
г. Минск, пер. Козлова, 7/г, каб.501, (далее – Администрация Сайта), и определяют порядок обработки и защиты информации о физических лицах, пользующихся услугами интернет-сайта http://winorbite.com// (далее – Сайт) и его сервисов (далее – Пользователи).	
</p>


<h3>Цели обработки информации</h3>
<p>
Администрация Сайта осуществляет обработку информации о Пользователях, в том числе их персональных данных, в целях выполнения обязательств Администрации Сайта перед Пользователями в отношении использования Сайта и его сервисов. 
</p>
<h3>Персональные данные Пользователей</h3>


<p>
Персональные данные Пользователей включают в себяпредоставляемые Пользователями : имя, номер мобильного телефона и адрес электронной почты;
</p>

<h3>Обработка персональных данных</h3>


<p>
Обработка персональных данных осуществляется на основе принципов:
а) законности целей и способов обработки персональных данных;
б) добросовестности;
в) соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Администрации Сайта;
г) соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;
д) недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.
</p>

<h3>Сбор персональных данных</h3>
<p>
Сбор персональных данных Пользователя осуществляется на Сайте при регистрации заказа.
Персональные данные  предоставляются Пользователем и являются минимально необходимыми при регистрации заказа.
</p>


<h3>Хранение и использование персональных данных</h3>


<p>
Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
</p>

<p>
Срок хранения персональных данных Пользователя - 120 дней со дня регистрации заказа.
</p>

<h3>Передача персональных данных</h3>

<p>
Персональные данные Пользователей не передаются каким-либо третьим лицам.
</p>

<p>
Предоставление персональных данных Пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством.
</p>

</section>
<section class="howWeWork">

</section>          


{% endblock %}



