{% extends "shop/base.html" %}
{% block title %}
| Корзина
{% endblock %}
{% block content %}
<section class="cart-full-information">


<section class="cart">


{% for item in cart %}
{% with product=item.product %}

<article style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">

  <article style="display: flex; flex-direction: column;">
	<a href="{{ product.get_absolute_url }}">
	  <img  src="{{ product.image.url }}" / alt ="product-image" style="width: 150px;">
	</a>
	<span>{{ product.name }}</span>
  </article>


  <form action="{% url "cart:CartAdd" product.id %}" method="post" class="add">
	{{ item.update_quantity_form.quantity }}
	{{ item.update_quantity_form.update }}
	{% csrf_token %}
	<input type="submit" value="Обновить" class="cart-button">
  </form>



<button href="{% url "cart:CartRemove" product.id %}"  class="cart-button">Удалить</button>
<span>{{ item.total_price }} руб.</span>
{% endwith %}
{% endfor %}


</article>

<article>
<a href="/shop" class="buttons-all">Продолжить выбирать</a>
<a href="{% url "orders:OrderCreate" %}"  class="buttons-all">Оформить заказ</a>
</article>

</section>
</section>
{% endblock %}
