{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  {% if category %}| {{ category.name }} {% else %}|Главная{% endif %}
{% endblock %}
{% block content %}
<section class="main-list">

<aside class="side-cat box">

 <div class="hidebutt top">Меню</div>

  <ul class="bottom">
   {% for cat in cat_list%}
    <li>
      <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
    </li> 
    {% endfor %}  
  </ul>
</aside>

<section class="products">
   {% for product in products %}
    <section class="product-window">
    
      <article class = "image">
        <a href="{{ product.get_absolute_url }}">
          <img src="{{ product.image.url}}"  alt="product-image" >
        </a>
      </article>

      <article class="info">
        <p class="title">
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        </p>
        <span class="parameters">{{product.parameter}}</span>       
        <span class="parameters">{{product.parameter_value}} </span>
        <p class = "price">{{ product.price }} руб.</p>
        <!--p class = "price">{{ product.price_rub }} руб.</p-->
      </article>

    </section>

  {% endfor %}

</section>
 
</section>
{% endblock %}
