{% extends "shop/base.html" %}

{% block title %}
| Доставка и оплата
{% endblock %}

{% block content %}
<section class="howWeWork">
<span class="nameOf">Как сделать покупку:</span>
<br>
<br>
<br>
<ul>
<li><img src="/media/cart.png" alt="cart"><p>Выбираете товары</p></li>
<li><img src="/media/order.png" alt="order"><p>Регистрируете заказ</p></li>
<li><img src="/media/courier.png" alt="courier"><p>Курьер доставляет его</p></li>
<li><img src="/media/payment.png" alt="pay"><p>Оплачиваете</p></li>
</ul>
</section>
<section class="order-form">
<h2>Доставляем товары по всей Беларуси</h2>
<h3>Доставка по Минску - бесплатно.</h3>
<h3>По территории Беларуси - стоимость доставки 5р.</h3>
<h3>При заказе от 50р доставка беплатна.</h3>
</section>          


{% endblock %}
