{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
| Магазин
{% endblock %}
{% block content %}
<section class="main-list">


  <aside class="side-cat box">
	<div class="hidebutt top">Меню</div>
	<ul class="bottom" id="m_button">  
	{% for category in categories %}
	  <li>
	    <a href="{{category.slug}}">{{ category.name }}</a>
	  </li>
	{% endfor %}
</ul>
</aside>

<section class="products">
{% for product in products %}
<section class="product-window">
  <article class = "image">
    <a href="{{ product.get_absolute_url }}">
    <img src="{{ product.image.url}}"  alt="product-image" >
    </a>
  </article>
  <article class="info">
	<span><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></span>
	<span class="minip" style="color: #B12704;">{{ product.price_rub }}p.</span>&nbsp; 
  </article>
</section>
{% endfor %}
<article id="show-more">SHOW MORE</article>

</section> 

</section>
{% endblock %}

